<nav class="blog-subnav" aria-label="Blog sections">
  <div class="blog-subnav-inner">
    <div class="blog-subnav-links">
      {% if page.permalink contains "archive" %}
      <a href="/blog/archive/" class="active">Archive</a>
      {% else %}
      <a href="/blog/archive/">Archive</a>
      {% endif %}

      {% if page.permalink contains "categories" %}
      <a href="/blog/categories/" class="active">Categories</a>
      {% else %}
      <a href="/blog/categories/">Categories</a>
      {% endif %}

      {% if page.permalink contains "tags" %}
      <a href="/blog/tags/" class="active">Tags</a>
      {% else %}
      <a href="/blog/tags/">Tags</a>
      {% endif %}

      {% if page.permalink contains "authors" %}
      <a href="/blog/authors/" class="active">Authors</a>
      {% else %}
      <a href="/blog/authors/">Authors</a>
      {% endif %}
    </div>

    {% unless page.permalink contains "search" %}
    <pagefind-searchbox bundle-path="/pagefind/"></pagefind-searchbox>
    {% endunless %}
  </div>
</nav>
