<!-- Card Blog -->
<div class="max-w-[80rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  {% set books_section = section.extra.books %}
  {% set books = [
    books_section.quick_start,
    books_section.casting_spels,
    books_section.lfe_tutorial,
    books_section.rebar3,
    books_section.styleguide,
    books_section.sicp,
    books_section.chineual] %}
  <div class="flex w-full justify-center">
    <h1>{{ books_section.title | markdown(inline=true) | safe }}</h1>
  </div>

  <p class="mt-3 text-gray-800 dark:text-gray-400">
    {{ books_section.content | markdown(inline=true) | safe }}
  </p>

  <!-- Grid -->
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for book in books %}
    <div
      class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
      <div class="h-108 flex flex-col justify-center items-center bg-blue-600 rounded-t-xl">
        {{ book.cover | markdown(inline=true) | safe }}
      </div>
      <div class="p-4 md:p-6">
        <span class="block mb-1 text-xs font-semibold uppercase text-blue-600 dark:text-blue-500">
          {{ book.authors | markdown(inline=true) | safe }}
        </span>
        <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white">
          {{ book.title | markdown(inline=true) | safe }}
        </h3>
        <p class="mt-3 text-gray-500">
          {{ book.description | markdown(inline=true) | safe }}
        </p>
      </div>
      <div
        class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200 dark:border-gray-700 dark:divide-gray-700">
        <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-2 rounded-bl-xl font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm sm:p-4 dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800"
          href="{{ book.link_url | markdown(inline=true) | safe }}">
          {{ book.link_text | markdown(inline=true) | safe }}
        </a>
        <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-2 rounded-br-xl font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm sm:p-4 dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800"
          href="{{ books_section.link_url }}">
          {{ books_section.link_text }}
        </a>
      </div>
    </div>
    <!-- End Card -->
    {% endfor %}

  </div>
  <!-- End Grid -->
</div>
<!-- End Card Blog -->
