<footer>
  <div class="container p-6 mx-auto">
    <div class="lg:flex">
      <div class="w-full -mx-6 lg:w-2/5">
        <div class="px-6">

          <p class="italic text-gray-500">Sponsored by</p>
          <a href="http://billo.systems">
            <img class="w-auto h-14" src="/images/billo-logo.png" alt="">
          </a>

          <div class="flex mt-6 -mx-2">
            <a href="https://github.com/lfe/lfe" class="social" aria-label="Github">
              <i class="fab fa-github fa-lg"></i>
            </a>

            <a href="https://fosstodon.org/web/@lfe" class="social" aria-label="Mastodon">
              <i class="fab fa-mastodon fa-lg"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="mt-6 lg:mt-0 lg:flex-1">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
          <div>
            <h3>Learn</h3>
            <a href="#">LFE</a>
            <a href="#">Erlang</a>
            <a href="#">OTP</a>
            <a href="#">Lisp</a>
          </div>

          <div>
            <h3>Use</h3>
            <a href="#">The REPL</a>
            <a href="#">LFE Reference Materials</a>
            <a href="#">Key Erlang Modules</a>
            <a href="#">docs.lfe.io</a>
          </div>

          <div>
            <h3>Community</h3>
            <a href="#">Social Media</a>
            <a href="#">Traditional Media</a>
            <a href="#">Videos</a>
            <a href="#">Code & Container Images</a>
          </div>

          <div>
            <h3>About</h3>
            <a href="#">The Language</a>
            <a href="#">A Short History</a>
            <a href="#">Its Creator</a>
            <a href="#">Core Contributors</a>
          </div>

          
        </div>
      </div>
    </div>

    <hr class="h-px my-6 bg-gray-500 border-none dark:bg-gray-700">

    <div class="flex w-full justify-center">
      <p class="copyright">© 2014-2038 LFElluminati | Alien Alliance</p>
    </div>
  </div>
</footer>


