<footer>
  <div class="container p-6 mx-auto">
    <div class="lg:flex">
      <div class="w-full -mx-6 lg:w-2/5">
        <div class="px-6">

          <p class="italic text-gray-500 dark:text-gray-600">Sponsored by</p>
          <a href="http://billo.systems">
            <img class="w-auto h-14" src="/images/billo-logo.png" alt="">
          </a>

          <div class="flex mt-6 -mx-2">
            <a href="https://github.com/lfe/lfe" class="social" aria-label="Github">
              <i class="fab fa-github fa-lg"></i>
            </a>

            <a href="https://fosstodon.org/web/@lfe" class="social" aria-label="Mastodon">
              <i class="fab fa-mastodon fa-lg"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="mt-6 lg:mt-0 lg:flex-1">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
          <div>
            <h3>Learn</h3>
            <a href="/learn/#quick-start-guides">LFE</a>
            <a href="/learn/#erlang">Erlang</a>
            <a href="/learn/#otp">OTP</a>
            <a href="/learn/#lisp-arcana">Lisp</a>
          </div>

          <div>
            <h3>Use</h3>
            <a href="/use/#the-repl">The REPL</a>
            <a href="/use/#reference">LFE Reference Materials</a>
            <a href="/use/#erlang">Key Erlang Modules</a>
            <a href="/use/#rebar3">rebar3</a>
          </div>

          <div>
            <h3>Community</h3>
            <a href="/community/#social-media">Social Media</a>
            <a href="/community/#traditional-media">Traditional Media</a>
            <a href="/community/#videos">Videos</a>
            <a href="/community/#repos-code-container-images">Code & Container Images</a>
          </div>

          <div>
            <h3>About</h3>
            <a href="/about/#the-language">The Language</a>
            <a href="/about/#a-short-history">A Short History</a>
            <a href="/about/#its-creator">Its Creator</a>
            <a href="https://github.com/lfe/lfe/graphs/contributors">Contributors</a>
          </div>

        </div>
      </div>
    </div>

    <hr class="h-px my-6 bg-gray-500 border-none dark:bg-gray-800">

    <div class="flex w-full justify-center">
      <p class="copyright"><span class="mini-logo"><img src="/images/LFE-logo-darker-greys-6-square-x32.png"></span> © 2014-2038 LFElluminati | Alien Alliance <span class="mini-logo"><img src="/images/lisplogo-alien-tech-grey.png"></span></p>
    </div>
  </div>
</footer>
