<footer class="footer mt-auto py-3">
    <div class="container py-5 main-footer">
        <div class="row">
            <div class="col-6 col-md">
                <h5>Learn</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/learn/#lfe">LFE</a></li>
                    <li><a class="text-muted" href="/learn/#erlang">Erlang</a></li>
                    <li><a class="text-muted" href="/learn/#otp">OTP</a></li>
                    <li><a class="text-muted" href="/learn/#lisp-arcana">Lisp</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Use</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/use#the-repl">The REPL</a></li>
                    <li><a class="text-muted" href="/use/#reference">LFE Reference Materials</a></li>
                    <li><a class="text-muted" href="/use/#erlang">Key Erlang Modules</a></li>
                    <li><a class="text-muted" href="http://docs.lfe.io">docs.lfe.io</a></li>
                </ul>
            </div>
            <div class="col-6 col-md footer-logo">
                <img src="/images/LFE-logo-darker-greys-6-square-x32.png" />
            </div>
            <div class="col-6 col-md right-side">
                <h5>Community</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/community/#social-media">Social Media</a></li>
                    <li><a class="text-muted" href="/community/#traditional-media">Traditional Media</a></li>
                    <li><a class="text-muted" href="/community/#videos">Videos</a></li>
                    <li><a class="text-muted" href="/community/#code-and-images">Code & Container Images</a></li>
                </ul>
            </div>
            <div class="col-6 col-md right-side">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/about/#the-language">The Language</a></li>
                    <li><a class="text-muted" href="/about/#history">A Short History</a></li>
                    <li><a class="text-muted" href="/about/#hróbjartr">Its Creator</a></li>
                    <li><a class="text-muted" href="https://github.com/rvirding/lfe/graphs/contributors">Core
                            Contributors</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<section class="mt-auto py-3 sub-footer">
    <div class="container">
        <span>&copy; 2014-2038 LFElluminati | Alien Alliance</span>
    </div>
</section>
