<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    {% include "base/meta.html" %}
    <meta name="twitter:title"
        content="(LFE:{% block twittertitle %}{{ page.extra.long_title }}{% endblock twittertitle %})" />
    <meta name="twitter:description"
        content="{% block twitterdescription %}{{ page.extra.long_description }}{% endblock twitterdescription %}" />
    <meta property="og:url" content="{{ current_url }}" />
    <meta property="og:title" content="(LFE:{% block ogtitle %}{{ page.extra.long_title }}{% endblock ogtitle %})" />
    <meta property="og:description"
        content="{% block ogdescription %}{{ page.extra.long_description }}{% endblock ogdescription %}" />
    <title>(LFE:{% block pagetitle %}{{ page.title }}{% endblock pagetitle %})</title>
    <meta name="description"
        content="{% block pagedescription %}{{ page.extra.long_description }}{% endblock pagedescription %}">
    {% endblock meta %}

    {% block favicon %}
    {% include "base/favicon.html" %}
    {% endblock favicon %}

    {% block js %}
    {% include "base/js.html" %}
    {% endblock js %}

    {% block css %}
    {% include "base/css.html" %}
    {% endblock css %}

    <!-- Custom styles for this template -->
    {% block cssoverrides %}
    {% endblock cssoverrides %}
</head>

<body>
    {% block head %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark lfe-main">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/LFE-logo-color-separated-6-square-x64.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#lfe-main-nav"
                aria-controls="lfe-main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include "base/head-menu.html" %}
        </div>
    </nav>
    {% include "base/head-menu.html" %}
    {% block navbar_brand %}
    {% endblock navbar_brand %}
    {% endblock head %}

    {% block main %}
    {% endblock main %}

    {% block foot %}
    {% include "base/foot.html" %}
    {% endblock foot %}

    {% block endscripts %}
    {% include "base/end-scripts.html" %}
    {% endblock endscripts %}
</body>

</html>
