<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    {% include "base/meta.html" %}
    <meta name="twitter:title" content="(LFE:{% block twittertitle %}{{ section.title }}{% endblock twittertitle %})" />
    <meta name="twitter:description"
        content="{% block twitterdescription %}{{ section.description }}{% endblock twitterdescription %}" />
    <meta property="og:url" content="{{ current_url }}" />
    <meta property="og:title" content="(LFE:{% block ogtitle %}{{ section.title }}{% endblock ogtitle %})" />
    <meta property="og:description"
        content="{% block ogdescription %}{{ section.description }}{% endblock ogdescription %}" />
    <title>(LFE:{% block pagetitle %}{{ section.title }}{% endblock pagetitle %})</title>
    <meta name="description"
        content="{% block pagedescription %}{{ section.description }}{% endblock pagedescription %}">
    {% endblock meta %}

    {% block favicon %}
    {% include "base/favicon.html" %}
    {% endblock favicon %}

    {% block js %}
    {% include "base/js.html" %}
    {% endblock js %}

    {% block css %}
    {% include "base/css.html" %}
    {% endblock css %}

    <!-- Custom styles for this template -->
    {% block cssoverrides %}
    {% endblock cssoverrides %}
</head>

<body>
    <header class="top-nav">
    {% block head %}
    {% include "base/head-menu.html" %}
    {% endblock head %}
    </header>
    
    {% block main %}
    {% endblock main %}

    {% block foot %}
    {% include "base/foot.html" %}
    {% endblock foot %}

    {% block endscripts %}
    {% include "base/end-scripts.html" %}
    {% endblock endscripts %}

    {% block extrascripts %}
    {% endblock extrascripts %}
</body>

</html>
