<ul>
  <li><a href="https://github.com/rvirding/lfe/tree/master/examples">Official Examples</a></li>
  <li><a href="https://github.com/cadar/hello-lfe">Hello World Starter</a></li>
  <li><a href="https://github.com/dysinger/lfe-otp-ping-pong">Building an Erlang Application for LFE</a></li>
  <li><a href="https://github.com/cadar/lithium">Web Programming for LFE</a></li>
  <li>Chat Demo
  <a href="https://github.com/rvirding/chat_demo/blob/master/chat_server.lfe">Server</a>
  and
  <a href="https://github.com/rvirding/chat_demo/blob/master/chat_backend.lfe">Backend</a></li>
  <li><a href="https://github.com/dysinger/gutenberg">Riak Map/Reduce Examples for LFE</a></li>
  <li><a href="https://github.com/cadar/rt-lfe">Regression Testing</a></li>
  <li><a href="https://github.com/cadar/trace-lfe">Tracing for LFE</a></li>
  <li><a href="https://github.com/cadar/pmap-lfe">Parallel Map</a></li>
</ul>
