<ul>
  <li>On <a href="http://news.ycombinator.com/item?id=286288">Hacker News</a></li>
  <li>An hour-long <a href="http://vimeo.com/17016059">video</a> on LFE from 2011</li>
  <li>LFE <a href="http://www.erlang-factory.com/upload/presentations/325/EFLA10-LispFlavouredErlang.pdf">slides</a> from Erlang Factory 2010</li>
  <li>"About" page on  <a href="http://www.trapexit.org/Lisp_Flavoured_Erlang">Trapexit</a></li>
  <li>Forum on <a href="http://forum.trapexit.org/viewtopic.php?p=40268">Trapexit</a></li>
  <li><a href="http://blog.ericbmerritt.com/2011/08/22/enhancing-lisp-flavored-erlang.html">Enhancing LFE</a></li>
  <li>A <a href="https://bitbucket.org/birkenfeld/pygments-main/pull-request/25/lisp-flavored-erlang-lexer/diff">pull request</a> for pygments LFE support</li>
</ul>
