<!doctype html>
<html>

{% include head.html %}

  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/rvirding/lfe">View On GitHub</a></li>
          <li class="title"><a href="https://github.com/rvirding/lfe/tarball/master">Download</a></li>
          <li class="title"><a href="/community.html">Community</a></li>
          <li class="title"><a href="/docs.html">Docs</a></li>
          <li class="title"><a href="/quick-start/1.html">Quick Start</a></li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">
