<!doctype html>
<html>

  {% include head.html %}

  <body>
      <div id="header">
        <nav>
          <li class="fork"><img src="https://github.com/lfe/lfe.github.io/raw/master/images/logos/LispFlavoredErlang-xtiny.png" align="top" /></li>
          <li class="title"><a href="/download.html">Download</a></li>
          <li class="title"><a href="/community.html">Community</a></li>
          <li class="title"><a href="/docs.html">Docs</a></li>
          <li class="title"><a href="/quick-start/1.html">Quick Start</a></li>
          <li class="title"><a href="/">Home</a></li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">
