<div id="sidebar-primary" class="sidebar">
  <div class="widget">
    <h3 class="widget-title">User Guide Sections</h3>
    <ol>
      <li>Introduction</li>
      <ul>
        <li><a class="spec" href="/user-guide/intro/1.html">Introduction</a></li>
        <li><a class="spec" href="/user-guide/intro/2.html">The LFE REPL</a></li>
        <li><a class="spec" href="/user-guide/intro/3.html">Loading Files</a></li>
        <li><a class="spec" href="/user-guide/intro/4.html">Setting up a Development Environment</a></li>
      </ul>

      <li>Diving In</li>
      <ul>
        <li><a class="spec" href="/user-guide/diving/1.html">Numbers & Operators</a></li>
        <li><a class="spec" href="/user-guide/diving/2.html">Strings & Atoms</a></li>
        <li><a class="spec" href="/user-guide/diving/3.html">Binary & Bitstrings</a></li>
        <li><a class="spec" href="/user-guide/diving/4.html">Variables</a></li>
        <li><a class="spec" href="/user-guide/diving/5.html">Pattern Matching</a></li>
      </ul>

      <li>Lists & Simple Data (in progress)</li>
      <ul>
        <li><a class="spec" href="/user-guide/data/1.html">Lists & Tuples</a></li>
        <li><a class="spec" href="/user-guide/data/2.html">Comprehensions</a></li>
        <li><a class="spec" href="/user-guide/data/3.html">Property Lists & Hashes</a></li>
        <li><a class="spec" href="/user-guide/data/4.html">Records</a></li>
        <li><a class="spec" href="/user-guide/data/5.html">.hrl Header Files</a></li>
      </ul>

      <li>Functions & Modules (stubbed)</li>
      <ul>
        <li><a class="spec" href="/user-guide/funcode/1.html">Functions</a></li>
        <li><a class="spec" href="/user-guide/funcode/2.html">LFE-Specific Functions </a></li>
        <li><a class="spec" href="/user-guide/funcode/3.html">Modules</a></li>
      </ul>

      <li>Recursion</li>
      <ul>
        <li><a class="spec" href="/user-guide/recursion/1.html">History</a></li>
        <li><a class="spec" href="/user-guide/recursion/2.html">Peano Axioms</a></li>
        <li><a class="spec" href="/user-guide/recursion/3.html">Primitive Recursive</a></li>
        <li><a class="spec" href="/user-guide/recursion/4.html">Total Recursive</a></li>
        <li><a class="spec" href="/user-guide/recursion/5.html">The λ-Calculus</a></li>
        <li><a class="spec" href="/user-guide/recursion/6.html">Practical Examples</a></li>
        <li><a class="spec" href="/user-guide/recursion/7.html">Tail-Calls</a></li>
      </ul>

      <li>Checks, Errors, & Tests (stubbed)</li>
      <ul>
        <li><a class="spec" href="/user-guide/check/1.html">Guards</a></li>
        <li><a class="spec" href="/user-guide/check/2.html">Exception Handling</a></li>
        <li><a class="spec" href="/user-guide/check/3.html">EUnit with LFE</a></li>
      </ul>

      <li>Processes & Servers (stubbed)</li>
      <ul>
        <li><a class="spec" href="/user-guide/procs/1.html">TBD</a></li>
      </ul>

      <li>External Data (stubbed)</li>
      <ul>
        <li><a class="spec" href="/tutorials/mnesia/1.html">Mnesia Tutorial</a></li>
        <li><a class="spec" href="/user-guide/extdata/1.html">TBD</a></li>
      </ul>

      <li>Development & Deployment (stubbed)</li>
      <ul>
        <li><a class="spec" href="/user-guide/devops/1.html">Projects with Rebar</a></li>
        <li><a class="spec" href="/user-guide/devops/2.html">Working with Kerl</a></li>
        <li><a class="spec" href="/user-guide/devops/3.html">Creating a Library</a></li>
        <li><a class="spec" href="/user-guide/devops/4.html">Apps & Services</a></li>
        <li><a class="spec" href="/user-guide/devops/5.html">Releasing</a></li>
        <li><a class="spec" href="/user-guide/devops/6.html">Running in Production</a></li>
      </ul>

      <li>Java Interop</li>
      <ul>
        <li><a class="spec" href="/user-guide/java/jinterface/1.html">JInterface</a></li>
        <li><a class="spec" href="/user-guide/java/erjang/1.html">Erjang</a></li>
      </ul>

      <li>Additional Topics (stubbed)</li>
      <ul>
        <li><a class="spec" href="/user-guide/extra/1.html">Scripting</a></li>
        <li><a class="spec" href="/user-guide/extra/2.html">Macros</a></li>
        <li><a class="spec" href="/user-guide/extra/3.html">Writing for Multi-Core</a></li>
      </ul>

    </ol>
  </div>
</div>
