<div id="sidebar-primary" class="sidebar">
  <div class="widget">
    <h3 class="widget-title">User Guide Sections</h3>
    <ol>
      <li><a class="spec" href="/user-guide/1.html">Introduction</a></li>
      <li>Diving In</li>
      <ul>
        <li><a class="spec" href="/user-guide/diving/1.html">Numbers & Operators</a></li>
        <li><a class="spec" href="/user-guide/diving/2.html">Strings & Atoms</a></li>
        <li><a class="spec" href="/user-guide/diving/3.html">Binary & Bitstrings</a></li>
        <li><a class="spec" href="/user-guide/diving/4.html">Variables</a></li>
        <li><a class="spec" href="/user-guide/diving/5.html">Pattern Matching</a></li>
      </ul>

      <li>Lists and Simple Data (in progress)</li>
      <ul>
        <li><a class="spec" href="/user-guide/data/1.html">Lists & Tuples</a></li>
        <li><a class="spec" href="/user-guide/data/2.html">Comprehensions</a></li>
        <li><a class="spec" href="/user-guide/data/3.html">Property Lists & Hashes</a></li>
        <li><a class="spec" href="/user-guide/data/4.html">Records</a></li>
        <li><a class="spec" href="/user-guide/data/5.html">.hrl Header Files</a></li>
      </ul>

      <li>Functions and Modules (stubbed)</li>
      <ul>
        <li><a class="spec" href="/user-guide/funcode/1.html">Functions</a></li>
        <li><a class="spec" href="/user-guide/funcode/2.html">LFE-Specific Functions </a></li>
        <li><a class="spec" href="/user-guide/funcode/3.html">Modules</a></li>
        <li><a class="spec" href="/user-guide/funcode/4.html">Projects</a></li>
      </ul>

      <li>Checks, Errors, and Tests (stubbed)</li>
      <ul>
        <li><a class="spec" href="/user-guide/check/1.html">Guards</a></li>
        <li><a class="spec" href="/user-guide/check/2.html">Exception Handling</a></li>
        <li><a class="spec" href="/user-guide/check/3.html">EUnit & TDD</a></li>
      </ul>

      <li><a class="spec" href="/user-guide/2.html">Processes & Servers</a> (stubbed)</li>
      <li><a class="spec" href="/user-guide/3.html">External Data</a> (stubbed)</li>


      <li>Additional Topics (stubbed)</li>
      <ul>
        <li><a class="spec" href="/user-guide/extra/1.html">Macros</a></li>
        <li><a class="spec" href="/user-guide/extra/2.html">Writing for Multi-Core</a></li>
      </ul>

    </ol>
  </div>
</div>
