<div id="sidebar-primary" class="sidebar">
  <div class="widget">
    <h3 class="widget-title">User Guide Sections</h3>
    <ol>
      <li>Introduction</li>
      <ul>
        <li><a class="spec" href="/user-guide/intro/1.html">Introduction</a></li>
        <li><a class="spec" href="/user-guide/intro/2.html">The LFE REPL</a></li>
        <li><a class="spec" href="/user-guide/intro/3.html">Loading Files</a></li>
        <li><a class="spec" href="/user-guide/intro/4.html">Setting up a Development Environment</a></li>
      </ul>

      <li>Diving In</li>
      <ul>
        <li><a class="spec" href="/user-guide/diving/1.html">Numbers & Operators</a></li>
        <li><a class="spec" href="/user-guide/diving/2.html">Strings & Atoms</a></li>
        <li><a class="spec" href="/user-guide/diving/3.html">Binary & Bitstrings</a></li>
        <li><a class="spec" href="/user-guide/diving/4.html">Variables</a></li>
        <li><a class="spec" href="/user-guide/diving/5.html">Pattern Matching</a></li>
      </ul>

      <li>Lists and Simple Data (in progress)</li>
      <ul>
        <li><a class="spec" href="/user-guide/data/1.html">Lists & Tuples</a></li>
        <li><a class="spec" href="/user-guide/data/2.html">Comprehensions</a></li>
        <li><a class="spec" href="/user-guide/data/3.html">Property Lists & Hashes</a></li>
        <li><a class="spec" href="/user-guide/data/4.html">Records</a></li>
        <li><a class="spec" href="/user-guide/data/5.html">.hrl Header Files</a></li>
      </ul>

      <li>Functions and Modules (stubbed)</li>
      <ul>
        <li><a class="spec" href="/user-guide/funcode/1.html">Functions</a></li>
        <li><a class="spec" href="/user-guide/funcode/2.html">LFE-Specific Functions </a></li>
        <li><a class="spec" href="/user-guide/funcode/3.html">Modules</a></li>
        <li><a class="spec" href="/user-guide/funcode/4.html">Projects</a></li>
      </ul>

      <li>Recursion</li>
      <ul>
        <li><a class="spec" href="/user-guide/recursion/1.html">History</a></li>
        <li><a class="spec" href="/user-guide/recursion/2.html">Peano Axioms</a></li>
        <li><a class="spec" href="/user-guide/recursion/3.html">Primitive Recursive</a></li>
        <li><a class="spec" href="/user-guide/recursion/4.html">Total Recursive</a></li>
        <li><a class="spec" href="/user-guide/recursion/5.html">The λ-Calculus</a></li>
        <li><a class="spec" href="/user-guide/recursion/6.html">Practical Examples</a></li>
        <li><a class="spec" href="/user-guide/recursion/7.html">Tail-Calls</a></li>
      </ul>

      <li>Checks, Errors, and Tests (stubbed)</li>
      <ul>
        <li><a class="spec" href="/user-guide/check/1.html">Guards</a></li>
        <li><a class="spec" href="/user-guide/check/2.html">Exception Handling</a></li>
        <li><a class="spec" href="/user-guide/check/3.html">EUnit</a></li>
        <li><a class="spec" href="/user-guide/check/4.html">TDD</a></li>
      </ul>

      <li><a class="spec" href="/user-guide/1.html">Processes & Servers</a> (stubbed)</li>
      <li><a class="spec" href="/user-guide/2.html">External Data</a> (stubbed)</li>

      <li>Additional Topics (stubbed)</li>
      <ul>
        <li><a class="spec" href="/user-guide/extra/1.html">Scripting</a></li>
        <li><a class="spec" href="/user-guide/extra/2.html">Macros</a></li>
        <li><a class="spec" href="/user-guide/extra/3.html">Writing for Multi-Core</a></li>
      </ul>

    </ol>
  </div>
</div>
