// --- Site theme colors --------------------------------------

// From dark to light (mostly):
$theme-col-1: rgb(21, 25, 21); // top nav, selected, top
$theme-col-2: rgb(36, 41, 36); // top nav, selected, bottom
$theme-col-3: rgb(18, 24, 18); // top nav, border, right shadow (dark)
$theme-col-4: rgb(62, 54, 62); // top nav, border, left shadow (light)
$theme-col-5: rgb(36, 62, 36); // top nav, border
$theme-col-6: rgb(34, 42, 34); // top nav, top
$theme-col-7: rgb(30, 42, 30); // top nav, bottom
$theme-col-8: rgb(38, 60, 38); // home page, dark bg, top
$theme-col-9: rgb(54, 88, 54); // home page, dark bg, bottom
$theme-col-10: rgb(62, 100, 62); // primary button, top, non-active
$theme-col-11: rgb(52, 84, 52); // primary button, bottom, non-active
$theme-col-12: rgb(56, 94, 56); // primary button, border, bottom, non-active
$theme-col-13: rgb(72, 118, 72); // primary button, top
$theme-col-14: rgb(62, 96, 62); // primary button, bottom
$theme-col-15: rgb(78, 128, 78); // primary button, border, top
$theme-col-16: rgb(64, 108, 64); // primary button, border, bottom & prim. butt., border, top, non-active
$theme-col-17: rgb(94, 140, 94); // tabbed nav, top border
$theme-col-17-a: rgba(94, 140, 94, 0.5);

$theme-bright-gold: rgb(246, 206, 68);
$theme-medium-gold: darken($theme-bright-gold, 10%);
$theme-dark-gold: darken($theme-bright-gold, 30%);
$theme-page-background: #ECE5C9;

$light-back: lighten($theme-col-17, 20%);
$light-back-a: lighten($theme-col-17-a, 0%);
$mid-grey: rgb(127, 127, 127);
$light-grey: #aaa;

$orange: #FF8F00;
$orange-dark: #E46D12;

body {
    background-color: $theme-page-background;
}

// --- Main nav -----------------------------------------------

$top-nav-bg-sel-upper: $theme-col-1;
$top-nav-bg-sel-lower: $theme-col-2;

$top-nav-border-right: $theme-col-3;
$top-nav-border-left: $theme-col-4;
$top-nav-border: $theme-col-5;

$top-nav-bg-upper: $theme-col-6;
$top-nav-bg-lower: $theme-col-7;

.lfe-main {
    background-image: linear-gradient($top-nav-bg-upper 30%, $top-nav-bg-lower 95%);
    border-top: 3px solid $theme-dark-gold;
    border-bottom: 1px solid $theme-col-3;
    padding-top: 0;
    padding-bottom: 0;
}

.lfe-main .selected {
    background-image: linear-gradient($top-nav-bg-sel-upper 30%, $top-nav-bg-sel-lower 95%);
}

.lfe-main ul .nav-item .selected {
    color: $theme-dark-gold !important;
}

.lfe-main ul .nav-item a:hover.selected {
    color: lighten($theme-dark-gold, 5%) !important;

}

#lfe-main-nav .nav-item {
    width: 100px;
    border-right: 1px solid $theme-col-3;
    border-left: 1px solid $theme-col-4;
    border-top: 1px solid $theme-col-4;
    text-align: center;
}

#lfe-main-nav .nav-item.social,
#lfe-main-nav .nav-item.spacer {
    border: none;
    text-align: right;
    width: 30px;
    padding-right: 0;
}

#lfe-main-nav .nav-item.spacer {
    width: 10px;
}

#lfe-main-nav.collapse.navbar-collapse form input#search {
    padding: 0;
    font-size: 9pt;
}

#lfe-main-nav.collapse.navbar-collapse form button {
    margin-left: 2px;
}

// --- Home page bg -------------------------------------------

$dark-bg-upper: $theme-col-8;
$dark-bg-lower: $theme-col-9;

.lfe-masthead {
    background-image: linear-gradient($dark-bg-upper 30%, $dark-bg-lower 95%);
    border-radius: 0px;
    // border-bottom: 2px solid $theme-col-5;
    border-bottom: 2px solid $theme-medium-gold;
}

// --- Buttons ------------------------------------------------

$primary-upper-non-active: $theme-col-10;
$primary-lower-non-active: $theme-col-11;
$primary-lower-non-active-border-upper: $theme-col-16;
$primary-lower-non-active-border-lower: $theme-col-12;

$primary-upper: $theme-col-13;
$primary-lower: $theme-col-14;
$primary-upper-border: $theme-col-15;
$primary-lower-border: $theme-col-16;

$tabbed-nav-upper-border: $theme-col-17;
$tabbed-nav-lower-border: $theme-col-11;

.btn-primary,
.nav.lang-examples {
    background-image: linear-gradient($primary-upper 30%, $primary-lower 95%);
}

.nav.lang-examples,
.nav.lang-examples a {
    color: #aaa !important;
}

.nav.lang-examples {
    border-width: 2px !important;
    border-top: $tabbed-nav-upper-border;
    border-bottom: $tabbed-nav-lower-border;
    border-right: $tabbed-nav-upper-border;
    border-left: $tabbed-nav-lower-border;
}

.nav.lang-examples .nav-link.active,
.nav.lang-examples .show>.nav-link {
    color: $theme-bright-gold !important;
}

.btn-primary {
    border-top: $primary-upper-border;
    border-bottom: $primary-lower-border;
    border-right: $primary-upper-border;
    border-left: $primary-lower-border;
}

.nav-link.active {
    background-image: linear-gradient($primary-upper 30%, $primary-lower 95%);
}

.nav-item a {
    color: #aaa !important;
}

.btn-primary,
.btn-secondary {
    color: #ccc !important;
}

.btn-primary:active,
.btn-secondary:active {
    color: #ccc !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-secondary:hover,
.btn-secondary:focus,
.nav-item a:hover {
    color: #ddd !important;
}

// --- Links --------------------------------------------------

a {
    color: $primary-upper;
}

a:link,
a:hover,
a:focus {
    color: darken($primary-upper, 15%);
}

// --- Code ---------------------------------------------------

code {
    font-family: 'Courier New', Courier, monospace;
}

// --- Home page masthead -------------------------------------

.lfe-main .navbar-brand,
.lfe-main .navbar-brand a {
    color: $theme-dark-gold;
}

.lfe-main .navbar-brand img {
    height: 26px;
}

.jumbotron.lfe-masthead {
    padding-top: 1em;
}

.lfe-masthead .tagline,
.lfe-masthead .page-title,
.lfe-masthead .download {
    font-size: x-large;
}

.lfe-masthead .tagline,
.lfe-masthead .page-title {
    color: $theme-bright-gold;
    text-align: center;
}

.lfe-masthead .download {
    color: #ccc;
}

.lfe-masthead .download .dl-icon-container,
.lfe-masthead .download .dl-stable-container,
.lfe-masthead .download .dl-unstable-container {
    padding: 0;
    margin: 0;
}

.lfe-masthead .download .dl-both-container {
    padding-left: 0;
    margin-left: 0;
}

.lfe-masthead .download .row {
    float: right;
    text-align: right;
}

.lfe-masthead .download button {
    width: 80%;
}

.lfe-masthead .download .dl-unstable-container button {
    background-color: $orange;
    border-color: $orange;
}

.lfe-masthead .download .dl-unstable-container button:hover,
.lfe-masthead .download .dl-unstable-container button:focus,
.lfe-masthead .download .dl-unstable-container button:active,
.lfe-masthead .download .dl-unstable-container button.active {
    background-color: $orange-dark;
    border-color: $orange-dark;
}

// --- Home page code examples --------------------------------

$code-desc-background: $dark-bg-upper;
$code-background: rgb(1, 22, 39);
$code-light: #7fdbca;

.lfe-masthead ul.nav {
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.lfe-masthead .tab-content .row {
    margin-left: 0;
    margin-right: 0;
}

.lfe-masthead .code-sample {
    padding-top: 1em;
    background-color: $code-background;
    color: #fff;
    font-size: 10pt;
    line-height: 1em !important;
}

.lfe-masthead .code-description {
    padding-top: 1em;
    background-color: $code-desc-background;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    color: #ccc;
    padding-top: 0.5em;
}

.lfe-masthead .page-description code,
.lfe-masthead .code-description code {
    font-size: 14pt;
    color: $code-light;
}

.lfe-masthead .page-description code {
    padding-right: 5px;
}

// --- Home page code examples lead-out -----------------------

.lfe-masthead .lfe-summary {
    color: #ccc;
    font-size: x-large;
    padding-top: 1em;
}

// --- All/Most Sections -----------------------------------------------

$gold-section-title: darken($theme-bright-gold, 15%);
$green-section-title: $primary-upper;

h1.section.title {
    color: $gold-section-title;
    font-weight: bold;
    text-align: center;
    padding-top: 0.75em;
    padding-bottom: 1.25em;
}

div.container.features,
div.container.books,
div.container.videos {
    margin-bottom: 2em;
}

div.container h2 {
    text-align: center;
}

div.container .button-container {
    text-align: center;
}

// --- Features -----------------------------------------------

div.features div div h2 .fas {
    color: $mid-grey !important;
}

div.features div div h2 img {
    height: 64px !important;
}

// --- Build It with LFE --------------------------------------

div.container.buildit {
    padding-bottom: 1em;
    margin-bottom: 1em;
    background-color: $light-back-a;
    border-radius: 10px;
}

div.container.buildit h1.section.title {
    color: $green-section-title;
}

// --- LFE Books & Videos -------------------------------------

div.container.books div div.book,
div.container.videos div div.video {
    text-align: center;
}

div.container.books div div.book p a img,
div.container.videos div div.video p a img {
    height: 200px;
}

div.container.books .book-group,
div.container.videos .book-video {
    margin-block-end: 2em;
}

h2 code,
h2 code {
    color: #000;
    font-weight: lighter;
}

// --- End-of-page call-outs ----------------------------------

div.container.callout {
    // margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.jumbotron.call-out-1,
.jumbotron.call-out-2 {
    border-radius: 10px !important;
}

.jumbotron.call-out-1 h1,
.jumbotron.call-out-2 h1 {
    padding-bottom: 0.5em;
}

.jumbotron.call-out-1 {
    background-color: $light-back-a;
}

.jumbotron.call-out-1 h1 {
    color: $green-section-title;
    font-weight: bold;
}

.jumbotron.call-out-1 div {
    font-size: x-large;
}

.jumbotron.call-out-2 {
    // padding-top: 1.5em;
    color: $theme-bright-gold;
    text-align: center;
    background-image: linear-gradient($primary-upper 30%, $primary-lower 95%);
    border-top: $tabbed-nav-upper-border;
    border-bottom: $tabbed-nav-lower-border;
    border-right: $tabbed-nav-upper-border;
    border-left: $tabbed-nav-lower-border;
}

div.jumbotron.call-out-2 div>div>a img {
    border-radius: 5px;
    border-width: 3px;
    border-color: #000;
    border-style: solid;
}

.sponsors {
    text-align: center;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

// --- Standard pages -----------------------------------------

.lfe-masthead .page-title {
    text-align: left;
}

.lfe-masthead .page-description h2 {
    color: $theme-bright-gold;
    font-size: 16pt;
    font-weight: 100;
    text-align: left;
    padding-top: 1em;
}

.page-content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $green-section-title;
        text-align: left !important;
    }

    padding-bottom: 2em;
    margin-bottom: 2em;
}

.page-content h1 {
    border-bottom: 1px solid $green-section-title;
    margin-top: 1em;
    margin-bottom: 1em;
}

.page-content h2 {
    font-size: 1.8rem;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.page-content p,
.page-content ul,
.page-content ol {
    font-size: 14pt;
}

.page-content p a {
    font-weight: 500;
}

.page-content blockquote p,
.page-content blockquote ul,
.page-content blockquote ol {
    font-weight: 100 !important;
    color: #333;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.page-content code {
    font-size: 14pt;
}

// --- Footer -------------------------------------------------

$footer-color: #333;
// $footer-background: #8DB78D;
// $footer-background: #C3D8C3;
// $footer-background: #DCE8DC;
$footer-background: lighten($theme-col-17-a, 10%);

$subfooter-color: $light-grey;

.footer {
    color: $footer-color;
    background-color: $footer-background;
    border-top: 1px solid $theme-col-17;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer-logo {
    // padding-left: 2em;
    text-align: center;
}

.main-footer>.row>.right-side {
    text-align: right;
}

.sub-footer {
    color: darken($theme-dark-gold, 5%);
    font-size: 10pt;
    text-align: center;
    background-image: linear-gradient($top-nav-bg-lower 30%, $top-nav-bg-upper 95%);
}
