/* [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
} */

.search-container {
    display: inline-block;
    position: relative;
    width: 300px
}

.search-container input {
    width: 100%;
    padding: 0.5rem
}

.search-results {
    display: none;
    position: absolute;
    background: white;
    color: black;
    padding: 1rem;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
    max-height: 500px;
    overflow: auto;
    /* width: 150%; */
    margin-top: 9em;
    z-index: 10;
}

.search-results__items {
    list-style: none
}

.search-results li {
    margin-top: 1rem;
    border-bottom: 1px solid #ccc;
    font-size: 0.9rem
}

.search-results li:first-of-type {
    margin-top: 0
}

.search-results__item {
    margin-bottom: 1rem
}

.search-results__item a {
    font-size: 1.2rem;
    display: inline-block;
    margin-bottom: 0.5rem
}
