<!doctype html>
<html lang="en">

<head>
    {% include "meta.liquid" %}
    <title>{{ page.title }} | LFE Blog</title>
    <meta name="description" content="Search the LFE blog.">

    {% include "favicon.liquid" %}
    {% include "css.liquid" %}
    <link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-component-ui.js" type="module"></script>
</head>

<body class="dark:bg-slate-900">
    <header class="top-nav">
    {% include "nav.liquid" %}
    </header>
    {% include "blog-subnav.liquid" %}

    <main id="content" role="main">
      <section class="blog-home-section">
        <h1 class="blog-section-heading">{{ page.data.long_title }}</h1>
        <pagefind-config bundle-path="/pagefind/"></pagefind-config>
        <pagefind-input autofocus></pagefind-input>
        <pagefind-summary></pagefind-summary>
        <pagefind-results></pagefind-results>
      </section>
    </main>

    {% include "foot.liquid" %}

    {% include "end-scripts.liquid" %}
    <script type="module">
        const q = new URLSearchParams(window.location.search).get('q');
        if (q) {
          const input = document.querySelector('pagefind-input');
          if (input) input.setAttribute('value', q);
        }
    </script>
</body>

</html>
