<main role="main" class="flex-shrink-0">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron lfe-masthead">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <img src="/images/LFE-logo-abbr-6.2.png" />
                </div>
                <div class="col-md-4 tagline">
                    <em>"{{page.extra.sitetagline}}"</em>
                </div>
                <div class="col-md-4 download">
                    <i class="fas fa-download"></i>
                </div>
            </div>

            {% set excerpt_section = page.extra.excerpts %}
            {% set excerpts = [
                excerpt_section.repl,
                excerpt_section.simple_types,
                excerpt_section.compound_types,
                excerpt_section.records,
                excerpt_section.funcs,
                excerpt_section.macros,
                excerpt_section.erlang_interop,
                excerpt_section.otp] %}
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                {% for excerpt in excerpts %}
                {% if loop.index == 1 %}{% set active = "active" %}
                {% else %}{% set active = "" %}
                {% endif %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link {{ active }}" id="pills-{{ excerpt.id }}-tab" data-toggle="pill"
                        href="#pills-{{ excerpt.id }}" role="tab" aria-controls="pills-{{ excerpt.id }}"
                        aria-selected="true">{{ excerpt.name }}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="pills-tabContent">
                {% for excerpt in excerpts %}
                {% if loop.index == 1 %}{% set show = "show" %}{% set active = "active" %}
                {% else %}{% set show = "" %}{% set active = "" %}
                {% endif %}
                <div class="tab-pane {{ active }} {{ show }}" id="pills-{{ excerpt.id }}" role="tabpanel"
                    aria-labelledby="pills-{{ excerpt.id }}-tab">

                    <div class="row">
                        <div class="col-md-7 code-sample">
                            {{ excerpt.code | markdown(inline=true) | safe }}
                        </div>

                        <div class="col-md-5 code-description">
                            {{ excerpt.desc | markdown(inline=true) | safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <p class="lfe-summary">
                {{ page.extra.summary.content | markdown(inline=true) | safe }}
                <a class="btn btn-primary btn-sm" href="{{ page.extra.summary.link_url }}"
                    role="button">{{ page.extra.summary.link_text }} &raquo;</a></p>
        </div>
    </div>

    <!-- Features Section -->

    <div class="container features">
        {% set features_section = page.extra.features %}
        {% set features = [
            features_section.lisp,
            features_section.erlang,
            features_section.otp,
            features_section.lab] %}
        <h1 class="features section title">{{ features_section.title | markdown(inline=true) | safe }}</h1>
        <div class="row">
            {% for feature in features %}
            <div class="col-md-3">
                <h2>{{ feature.title | markdown(inline=true) | safe }}</h2>
                <p>{{ feature.content | markdown(inline=true) | safe }}</p>
                <div class="container button-container">
                    <p>
                        <a class="btn btn-secondary" href="{{ feature.link_url }}" role="button">{{ feature.link_text }}
                            &raquo;</a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- What You Can Build Section -->

    <div class="container buildit">
        {% set buildit_section = page.extra.buildit %}
        {% set builds = [
                buildit_section.scripts,
                buildit_section.libraries,
                buildit_section.apps,
                buildit_section.releases] %}
        <h1 class="buildit section title">{{ buildit_section.title | markdown(inline=true) | safe }}</h1>
        <div class="row">
            {% for build in builds %}
            <div class="col-md-3">
                <h2>{{ build.title | markdown(inline=true) | safe }}</h2>
                <p>{{ build.content | markdown(inline=true) | safe }}</p>
                <div class="container button-container">
                    <p>
                        <a class="btn btn-secondary" href="{{ build.link_url }}" role="button">{{ build.link_text }}
                            &raquo;</a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Books Section -->

    <div class="container books">
        {% set books_section = page.extra.books %}
        {% set books = [
            books_section.quick_start,
            books_section.casting_spels,
            books_section.lfe_tutorial] %}
        <h1 class="books section title">{{ books_section.title | markdown(inline=true) | safe }}</h1>

        <div class="row">
            {% for book in books %}
            <div class="col-md-4 book">
                <h2>{{ book.title | markdown(inline=true) | safe }}</h2>
                <p>{{ book.content | markdown(inline=true) | safe }} </p>
                <p><a class="btn btn-secondary" href="{{ book.link_url }}" role="button">{{ book.link_text }}
                        &raquo;</a></p>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Videos Section -->

    <div class="container videos">
        {% set videos_section = page.extra.videos %}
        {% set videos = [
            videos_section.efsf2017,
            videos_section.ecu2016,
            videos_section.efsf2014] %}
        <h1 class="books section title">{{ videos_section.title | markdown(inline=true) | safe }}</h1>

        <div class="row">
            {% for video in videos %}
            <div class="col-md-4 video">
                <h2>{{ video.title | markdown(inline=true) | safe }}</h2>
                <p>{{ video.content | markdown(inline=true) | safe }} </p>
                <p><a class="btn btn-secondary" href="{{ video.link_url }}" role="button">{{ video.link_text }}
                        &raquo;</a></p>
            </div>
            {% endfor %}
        </div>
    </div>

    </div> <!-- /container -->

    <div class="container callout">
        {% set callout1 = page.extra.callout1 %}
        <div class="jumbotron call-out-1">
            <div class="col-sm-12 mx-auto">
                <h1>{{ callout1.title | markdown(inline=true) | safe }}</h1>
                <p>{{ callout1.content | markdown(inline=true) | safe }}</p>
            </div>
        </div>
    </div>

    <div class="container callout">
        {% set callout2 = page.extra.callout2 %}
        <div class="jumbotron call-out-2">
            <div class="col-sm-12 mx-auto">
                <h1>{{ callout2.title | markdown(inline=true) | safe }}</h1>

                <div class="dark-border-wrap">
                    {{ callout2.content | markdown(inline=true) | safe }}
                </div>
            </div>
        </div>
    </div> <!-- /container -->

</main>
