.code-block {
  text-align: left;
}

.bullet-list {
  text-align: left;
}

a,
.btn {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    text-decoration: none;
    outline: none !important;
}

a {
    color:#0f0;
    color:rgba(0,255,0,0.8);
    font-weight: bold;
}
a:hover {
    color:#0f0;
    color:rgba(0,255,0,1);
    text-decoration: none;
}

p a, li a {
    padding-bottom:1px;
    border-bottom:1px dotted rgba(0,255,0,0.4);
    font-family: 'open_sansregular', sans-serif;
}

li.menu-item a {
    border-bottom: none;
}

a.btn {
    color:rgba(255,255,255,0.8);
}

p a:hover {
    border-color:#0f0;
    border-color:rgba(0,255,0,1);
}

#main-content .carousel .large-icon {
    width 54px;
}

.pull-right {
  float: right !important;
  padding: 2em;
}

.feature-col .image-container {
  text-align: center;
}

.feature-col .linked .image-container:after {
  background-image: none !important;
}

.feature-col .caption p {
  padding-left: -1em;
  margin-left: -1em;
}
