<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark lfe-main">
        <div class="container">
            <a class="navbar-brand" href="#">LFE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#lfe-main-nav"
                aria-controls="lfe-main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="lfe-main-nav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/learn">Learn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/use">Use</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/community">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://blog.lfe.io/">Blog</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item social">
                        <a class="nav-link" href="https://github.com/rvirding/lfe">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="nav-item social">
                        <a class="nav-link" href="https://twitter.com/ErlangLisp">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item spacer">
                        <a class="nav-link" href="#">
                        </a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-md-0">
                    <input id="search" type="search" class="form-control" placeholder="Search" aria-label="Search">
                    <div class="search-results" style="display: none;">
                        <div class="search-results__items"></div>
                    </div>
                    <button type="button" class="btn btn-warning">Go!</button>
                </form>

            </div>
        </div>
    </nav>
</header>
