{% extends "base/section.html" %}

{% block head %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark lfe-main">
  <div class="container">
    {% include "base/head-brand-page.html" %}
    {% include "base/head-menu.html" %}
  </div>
</nav>
{% endblock head %}

{% block main %}
<main role="main" class="flex-shrink-0 blog-page">
    <div class="jumbotron lfe-masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-title">
                    <h1>{{ section.extra.long_title | markdown(inline=true) | safe }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 page-description">
                    <h2>{{ section.extra.long_description | markdown(inline=true) | safe }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container page-content blog-page-content">
        {{ section.content | safe }}
    </div>
</main>
{% endblock main %}
