<main id="content" role="main">

  {% block masthead %}
  {% include "home/masthead.html" %}
  {% endblock masthead %}

  <div class="content-section home">

    <!-- Features Section -->
    {% block features %}
    {% include "home/features.html" %}
    {% endblock features %}

    <!-- Build-it Section -->
    {% block buildit %}
    {% include "home/buildit.html" %}
    {% endblock buildit %}

    <!-- Books Section -->
    {% block books %}
    {% include "home/books.html" %}
    {% endblock books %}

    <!-- Videos Section -->
    {% block videos %}
    {% include "home/videos.html" %}
    {% endblock videos %}

    <!-- Closing Section -->
    {% block closing %}
    {% include "home/closing.html" %}
    {% endblock closing %}

  </div>
</main>
