{% extends "base/section.html" %}

{% block main %}
{% include "content-home.html" %}
{% endblock main %}

{% block extrascripts %}
<script type="module" src="https://esm.sh/jsr/@lykn/browser@0.5.0"></script>
<script type="text/lykn">
    ;; Site: https://lykn.pl
    ;; Project: https://github.com/lykn-lang/lykn
    ;; Docs: https://cnbbooks.github.io/lykn
  (bind quotes #a(
    "\"A proper Lisp.\""
    "\"LFE combines the best of both Lisp and Erlang, at the SAME time!\""
    "\"I'm sorry, what was that last part again? Did you just say 'Lisp'?\""
    "\"Taking the syntax out of distributed systems programming.\""
    "\"Syntactically and semantically chaotic.\""
    "\"Where even a distributed Prolog dare not go.\""
    "\"MACLISP and supervision trees are all that anyone needs.\""
    "\"Fifty shades of distributed, syntax-free message-passing.\""
    "\"Come for the fault-tolerance and high-availability. Stay for the fault-tolerance and high-availability.\""
    "\"A timeless language.\""))

  (genfunc cycle
    :args (:array items)
    :yields :string
    :body
    (while true
      (for-of item items (yield item))))

  (bind it (cycle quotes))
  (bind el (document:query-selector "#lfe-tagline"))

  (setInterval
    (fn ()
      (bind next (it:next))
      (set! el:text-content next:value))
    10000)
</script>
{% endblock extrascripts %}
