<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE ncx PUBLIC
    "-//NISO//DTD ncx 2005-1//EN"
    "http://www.daisy.org/z3986/2005/ncx-2005-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
    <title>{{ page.title }}</title>
    <meta name="DC.language" content="eng" />
    <meta name="DC.creator" content="{{ page.author }}" />
    <meta name="DC.title" content="{{ page.title }}" />
    <base href="http://lfe.github.io/" />
  </head>
  <body>
  {{ content }}
  </body>
</html>