{% include top-home.html %}

      <section>
        <div id="title">
          <h1>
          <img src="https://github.com/lfe/lfe.github.com/raw/master/images/LispFlavoredErlang-tiny.png" align="top" />
          Lisp Flavored Erlang</h1>
          <hr>
          <span class="credits left">Project maintained by <a href="https://github.com/rvirding">Robert Virding</a></span>
          <span class="credits right">Hosted on GitHub @ <a href="https://github.com/rvirding/lfe/">rvirding/lfe</a></span>
        </div>

{{ content }}

      </section>

{% include bottom.html %}
