---
section: patterns-tutorial
---

{% include top.html %}

<div id="sidebar-primary" class="sidebar">
  <div class="widget">
    <h3 class="widget-title">Tutorial Sections</h3>
    <ol>
      <li><a class="spec" href="/tutorials/patterns/1.html">Patterns in Erlang</a></li>
      <li><a class="spec" href="/tutorials/patterns/2.html">Function Dispatch and Patterns</a></li>
      <li><a class="spec" href="/tutorials/patterns/3.html">Patterns and Variable Assignment</a></li>
      <li><a class="spec" href="/tutorials/patterns/4.html">Conditions and Patterns</a></li>
      <li><a class="spec" href="/tutorials/patterns/5.html">Using Patterns with Message Passing</a></li>
    </ol>
  </div>
</div>

<div id="content">
  <article>
    {{ content }}
  </article>

{% include pager.html %}

</div><!-- #content -->

{% include bottom.html %}
