---
section: style-guide
---

{% include top.html %}

<div id="sidebar-primary" class="sidebar">
  <div class="widget">
    <h3 class="widget-title">LFE Style Guide</h3>
    <ol>
      <li><a class="spec" href="/style-guide/1.html">Introduction</a></li>
      <li><a class="spec" href="/style-guide/2.html">General Guidelines</a></li>
      <li><a class="spec" href="/style-guide/3.html">Formatting</a></li>
      <li><a class="spec" href="/style-guide/4.html">Documentation</a></li>
      <li><a class="spec" href="/style-guide/5.html">Naming</a></li>
      <li><a class="spec" href="/style-guide/6.html">Testing</a></li>
      <li><a class="spec" href="/style-guide/7.html">Language Usage
        Guidelines</a></li>
      <li><a class="spec" href="/style-guide/8.html">Meta-Language
        Guidelines</a></li>
      <li><a class="spec" href="/style-guide/9.html">Data Representation</a></li>
      <li><a class="spec" href="/style-guide/10.html">Proper Forms</a></li>
      <li><a class="spec" href="/style-guide/11.html">Optimization</a></li>
      <li><a class="spec" href="/style-guide/12.html">Pittfalls</a></li>
    </ol>
  </div>
</div>

<div id="content">
  <article>
    {{ content }}
  </article>

{% include pager.html %}

</div><!-- #content -->

{% include bottom.html %}
