---
section: user-guide
---

{% include top.html %}

<div id="sidebar-primary" class="sidebar">
  <div class="widget">
    <h3 class="widget-title">User Guide Sections</h3>
    <ol>
      <li><a class="spec" href="/user-guide/1.html">Introduction</a></li>
      <li>Diving In</li>
      <ul>
        <li><a class="spec" href="/user-guide/diving/1.html">Operators and Numbers</a></li>
        <li><a class="spec" href="/user-guide/diving/2.html">Atoms and Strings</a></li>
        <li><a class="spec" href="/user-guide/diving/3.html">Binary and Bitstrings</a></li>
      </ul>

      <li>Lists and Simple Data</li>
      <ul>
        <li><a class="spec" href="/user-guide/data/1.html">Tuples and Lists</a></li>
        <li><a class="spec" href="/user-guide/data/2.html">Comprehensions</a></li>
        <li><a class="spec" href="/user-guide/data/3.html">Records</a></li>
      </ul>

      <li>Functions and Modules</li>
      <ul>
        <li><a class="spec" href="/user-guide/funcode/1.html">Functions</a></li>
        <li><a class="spec" href="/user-guide/funcode/2.html">LFE-Specific Functions </a></li>
        <li><a class="spec" href="/user-guide/funcode/3.html">Modules</a></li>
        <li><a class="spec" href="/user-guide/funcode/4.html">Projects</a></li>
      </ul>

      <li>Checks, Errors, and Tests</li>
      <ul>
        <li><a class="spec" href="/user-guide/check/1.html">Pattern Matching</a></li>
        <li><a class="spec" href="/user-guide/check/2.html">Guards</a></li>
        <li><a class="spec" href="/user-guide/check/3.html">Exception Handling</a></li>
        <li><a class="spec" href="/user-guide/check/4.html">EUnit and TDD</a></li>
      </ul>

      <li><a class="spec" href="/user-guide/6.html">Processes and Servers</a></li>
      <li><a class="spec" href="/user-guide/7.html">External Data</a></li>


      <li>Additional Topics</li>
      <ul>
        <li><a class="spec" href="/user-guide/extra/1.html">Macros</a></li>
        <li><a class="spec" href="/user-guide/extra/2.html">Writing for Multi-Core</a></li>
      </ul>

    </ol>
  </div>
</div>

<div id="content">
  <article>
    {{ content }}
  </article>

{% include pager.html %}

</div><!-- #content -->

{% include bottom.html %}
